#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

#navBars ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    float: left;
}

#navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 130px;
}

#navBars li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 130px;
}

#navBar li a:hover:not(.active) {
    background-color: #111;
}

#navBars li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #CCCC00;
}

#navBar {
  text-align: center;
  width:810px;
  margin: auto;
  display: block;
  align-content: center;
}

.headPic {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;

}

.video {
  display: block;
   margin: auto;
   width: 41%;
   padding-top: 15px;
   align-content: center;
}

.video iframe {
  background-color: #333;
}

body {
  background-color: beige;
}

#navBar header {
  background-color: #333;
}

#navBars header {
  background-color: #333;
}

textarea {
 vertical-align: middle;
}

.container {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   padding-top: 15px;
}

.generalInfo  {
  
  color: white;
<<<<<<< HEAD
  padding: 0;
}
#specs {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border: 2px solid grey;
  overflow: hidden;
  background-color: #333;
}

#specs li{
  display: inline-block;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  background-color: #333;
  list-style-type: circle;
}
.generalInfo {
  background-color: #333;
}
#specSpan #specs{
  background-color: #333;
  color: white;
  border: none;
  font-size: 22px;
}

#specs{
  font-size: 20px;
}
