ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #CCCC00;
}

#navBar {
  text-align: center;
  width:750px;
  margin:0 auto
}

.headPic {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   background-color: #333;
}

.video {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   padding-top: 15px;
}

.video iframe {
  background-color: #333;
}

body {
  background-color: lightgrey;
}

header {
  background-color: #333;
}
